# 编译输出
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.app
main

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Make
*.make

# Debug / Release
Debug/
Release/
build/
bin/

# 日志
*.log

# 临时文件
*.tmp
*.swp
*~
.DS_Store

# VSCode
.vscode/

# CLion
.idea/

# Visual Studio
*.vcxproj*
*.sln
*.user
*.pdb
*.ilk